/*
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: Garamond, serif;
    font-weight: normal;
    margin-bottom: 4em;
    text-align: center;
    color: deepskyblue;
}

*/

#h1_TE {
    color: aqua;
}